<div class="container">
  <div class="heading">
    <form #slotreserve="ngForm" (ngSubmit)="onSubmit(slotreserve)">
      <div class="form-group">
        <div class="form-row">
          <div class="form-col">
            <label>Slot Id</label>
            <input type="text" id="slotId" name="slotId" ngModel class="form-control" required readonly />
            <!-- <select id="slotId" name="slotId" ngModel class="form-control" required (ngModelChange)="onSlotChange(slotreserve)" [(ngModel)]="form.slotId">
              <option value="" disabled>Select a slot</option>
              <option *ngFor="let slot of availableSlots" [value]="slot.slotName">{{ slot.slotName }}</option>
            </select> -->
          </div>
          <div class="form-col">
            <label>Vehicle Number</label>
            <input #vehiclenumber="ngModel" type="text" name="vN" [(ngModel)]="form.vehicleNumber"
              placeholder="eg: TN12GH3456" required>
            <div class="text-danger" *ngIf="vehiclenumber.touched && vehiclenumber.invalid">Vehicle Number required
            </div>
            <div class="text-danger" *ngIf="vehiclenumber.errors?.['pattern']">Vehicle Number Format must be TN12GH3456
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-col style=flex: 1;">
            <label>Vehicle Type</label>
            <input type="text" id="vehicleType" name="vehicleType" ngModel class="form-control" required readonly />
          </div>
          <div class="form-col">
            <label>Entry Date</label>
            <input #entrydate="ngModel" type="date" name="enD" [(ngModel)]="form.entryDate" [min]="minDate" required>
            <div class="text-danger" *ngIf="entrydate.touched && entrydate.invalid">Entry Date required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-col">
            <label>Entry Time</label>
            <input #entrytime="ngModel" type="time" name="exD" [(ngModel)]="form.entryTime" required>
            <div class="text-danger" *ngIf="entrytime.touched && entrytime.invalid">Entry Time required</div>
          </div>
          <div class="form-col">
            <label>Exit Date</label>
            <input #exitdate="ngModel" type="date" name="enT" [(ngModel)]="form.exitDate" [min]="minDate"
              (change)="checkDateDifference()" required>
            <div class="text-danger" *ngIf="exitdate.touched && exitdate.invalid">Exit Date required</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-col">
            <label>Exit Time</label>
            <input #exittime="ngModel" type="time" name="exT" [(ngModel)]="form.exitTime"
              (change)="checkTimeDifference()" required>
            <div class="text-danger" *ngIf="exittime.touched && exittime.invalid">Exit Time required</div>
          </div>
        </div>
        <div class="form-row" *ngIf="totalAmount">
          <div class="form-col text-end">
            <label><strong>Total Amount:</strong></label>
            <div class="amount-display">{{totalAmount}}</div>
          </div>
        </div>
        <div class="button1">
          <button class="btn btn-primary text-center d-grid gap-2" type="submit" [disabled]="slotreserve.invalid"
           (click)="onReserve()" >Pay & Reserve</button>
        </div>
      </div>
    </form>
  </div>
</div>