header{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
}
button{
    background-color: #2196f3;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    transition: background-color 0.3s ease;
    border: none;
}
