.login {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  background: linear-gradient(to bottom right, #408EE0, #1E90FF); 
}

.full-height {
  height: 100vh;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.8); 
  width: 400px;
  min-height: 400px;
  align-items: center;
  text-align: center;
  margin-right: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
}
h6 {
  margin-bottom: 10px;
  font-weight: 500;
  color: #408EE0;
}

h3 {
  margin-bottom: 30px;
  font-weight: 600;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group-text {
  background-color: #e0e0e0;
  border: none;
}

.asterisk {
  color: red;
  margin-left: 4px;
}
.form-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 10;
  transition: color 0.2s ease;

  &:hover {
    color: #ff4d4d;
  }
}
