.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', sans-serif;
}

.login2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.full-height {
  height: 100vh;
}

.form-box {
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

h5 {
  margin-bottom: 5px;
}

h3 {
  margin-bottom: 30px;
  font-weight: 600;
  color: #408EE0;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group-text {
  background-color: #e0e0e0;
  border: none;
}

.asterisk {
  color: red;
  margin-left: 4px;
}
.form-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  z-index: 10;
  transition: color 0.2s ease;

  &:hover {
    color: #ff4d4d;
  }
  app-login.ng-leave,
app-login.ng-leave-active {
  opacity: 0 !important;
  z-index: -1 !important;
  display: none !important;
}
body, html {
  filter: none !important;
  opacity: 1 !important;
  background: none !important;
}

}
