<div class="container">
  <div class="container2">
    <h2><i class="fa-solid fa-magnifying-glass" style="color: #74c0fc"></i> Find Parking</h2>
    <p>Search and book available parking slots near you</p>
    <!-- <small>Available slots = {{tCount}}</small> -->
  </div>
  <hr />
  <br />
  <div class="legend">
    <div class="available legend-box"></div>
    Available
    <div class="occupied legend-box"></div>
    Occupied
  </div>
  <br />
  <div class="parking-slots-container">
    <div
      *ngFor="let slot of slots"
      class="parking-slot"
      [ngClass]="slot.status"
      (mouseenter)="showInfo(slot)"
      (mouseleave)="hideInfo()"
    >
      <!-- {{ slot.id }} -->
      <i class="fa-solid fa-p fa-xl"></i>

      <div *ngIf="hoveredSlot === slot" class="slot-info">
        <p>Id : {{ slot.id }}</p>
        <p>Type : {{ slot.vehicleType }}</p>
        <p>Availability : {{ slot.status }}</p>
        <div class="btn">
          <button class="btn btn2" (click)="onReserve(slot)">RESERVE</button>
        </div>
      </div>
    </div>
  </div>
</div>
