<div class="container">
  <div class="modifying">
    <form #modifyreserve="ngForm" (ngSubmit)="onModify(modifyreserve)">
      <div class="form-group">
        <div class="form-row">
          <div class="form-col">
            <label>Slot Id</label>
            <input type="text" id="slotId" name="slotId" ngModel class="form-control" [(ngModel)]="form.slotId" required
              readonly />
          </div>
          <div class="form-col">
            <label>Vehicle Number</label>
            <input #vehiclenumber="ngModel" type="text" name="vN" [(ngModel)]="form.vehicleNumber" required>
            <div class="text-danger" *ngIf="vehiclenumber.touched && vehiclenumber.invalid">Vehicle Number required
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-col style=flex: 1;">
            <label>Vehicle Type</label>
            <input type="text" id="vehicleType" name="vehicleType" ngModel class="form-control"
              [(ngModel)]="form.VehicleType" required readonly />
          </div>
          <div class="form-col">
            <label>Entry Date</label>
            <input #entrydate="ngModel" type="date" name="enD" [(ngModel)]="form.EntryDate" required>
            <div class="text-danger" *ngIf="entrydate.touched && entrydate.invalid">Entry Date required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-col">
            <label>Entry Time</label>
            <input #entrytime="ngModel" type="time" name="exD" [(ngModel)]="form.EntryTime" required>
            <div class="text-danger" *ngIf="entrytime.touched && entrytime.invalid">Entry Time required</div>
          </div>
          <div class="form-col">
            <label>Exit Date</label>
            <input #exitdate="ngModel" type="date" name="enT" [(ngModel)]="form.ExitDate"
              (change)="checkDateDifference()" required>
            <div class="text-danger" *ngIf="exitdate.touched && exitdate.invalid">Exit Date required</div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-col">
            <label>Exit Time</label>
            <input #exittime="ngModel" type="time" name="exT" [(ngModel)]="form.ExitTime"
              (change)="checkTimeDifference()" required>
            <div class="text-danger" *ngIf="exittime.touched && exittime.invalid">Exit Time required</div>
          </div>
        </div>
        <div class="form-row" *ngIf="totalAmount">
          <div class="form-col text-end">
            <label><strong>Total Amount:</strong></label>
            <div class="amount-display">{{ totalAmount }}</div>
          </div>
        </div>
        <div class="button3">
          <button class="btn btn-primary text-center d-grid gap-2" type="submit" [disabled]="modifyreserve.invalid"
            data-bs-dismiss="modal">pay & update Reservation</button>
        </div>

      </div>

    </form>
  </div>
</div>