 <div class="app-container">
  <app-sidenav (toggleEvent)="onToggle($event)" (items)="onDisplayClicked($event)"></app-sidenav>
  <div class="main-content" [class.shifted]="isSidenavOpen">
     <div *ngIf="isDisplay === 'Dashboard'">
      
      <ng-container *ngIf="isAdmin(); else userDashboard">
      <app-dashboard-admin></app-dashboard-admin>
    </ng-container>
    <ng-template #userDashboard>
      <app-dashboard-user (newParkingEvent)="parkingEvent()"></app-dashboard-user>
    </ng-template>
    </div>
    <div *ngIf="isDisplay === 'Find Parking'">
      <app-parking-slots-user
        (onReserveEvent)="reserveEvent($event)"
      ></app-parking-slots-user>
    </div>
    <div *ngIf="isDisplay === 'My Reservation'">
      <app-reservation (slotId)="isId"></app-reservation>
    </div>
    <div *ngIf="isDisplay === 'Vehicle logs'">
      <app-vehicle-logs (slotId)="isId"></app-vehicle-logs>
    </div>
    <div *ngIf="isDisplay === 'Billing & Payment'">
      <app-billing></app-billing>
    </div> 
    <div *ngIf="isDisplay===''">
     <app-parking-slots-user 
      (onReserveEvent)="reserveEvent($event)">
    </app-parking-slots-user>
    </div>
    
   </div> 
</div>
