/* .app-container {
  display: flex;
} */

.main-content {
  margin-left: 60px;
  padding: 20px;
  flex-grow: 1;
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 250px; 
}