.status-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  /* max-width: 600px; */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.header {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.metrics-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 20px;
}

.metric-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.icon-value-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 5px;
}

.icon {
  font-size: 28px;
  height: 28px;
  width: 28px;
}

.green-icon { color: #4CAF50; }
.red-icon { color: #F44336; }
.orange-icon { color: #FF9800; }

.value {
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.label {
  font-size: 0.9em;
  color: #616161;
  margin-bottom: 10px;
}

.progress-bar-container {
  width: 100%;
  height: 8px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.progress-bar {
  height: 100%;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
}

.green-bar { background-color: #4CAF50; }
.red-bar { background-color: #F44336; }
.orange-bar { background-color: #FF9800; }