<!-- <div class="home">
  <app-homepage></app-homepage>
</div> -->

 <div class="app-container">
  <app-sidenav (toggleEvent)="onToggle($event)" (items)="onDisplayClicked($event)"></app-sidenav>
  <div class="main-content" [class.shifted]="isSidenavOpen">
     <div *ngIf="isDisplay === 'Dashboard'">
      <app-dashboard-user (newParkingEvent)="parkingEvent()"></app-dashboard-user>
    </div>
    <div *ngIf="isDisplay === 'Find Parking'">
      <app-parking-slots-user
        (onBookEvent)="bookEvent($event)"
        (onReserveEvent)="reserveEvent($event)"
      ></app-parking-slots-user>
    </div>
    <div *ngIf="isDisplay === 'My Reservation'">
      <app-reservation (slotId)="isId"></app-reservation>
    </div>
    <div *ngIf="isDisplay === 'Vehicle logs'">
      <app-vehicle-logs (slotId)="isId"></app-vehicle-logs>
    </div>
    <div *ngIf="isDisplay === 'Billing & Payment'">
      <app-billing></app-billing>
    </div> 

  </div> 
</div>

