*{
  margin: 0;
}
.container {
  margin: 0;
  padding: 0;
  /* text-align: center; */
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container2{
    /* border: 1px solid black; */
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.container2 p{
  color: rgba(0, 0, 0, 0.573);
  margin-left: 30px;
}

.btn {

  margin: 5px;

  padding: 8px 16px;

  border: none;

  cursor: pointer;

  border-radius: 4px;

}

.btn-create {

  background-color: #007bff;

  color: white;

}

.btn-refresh {

  background-color: #ff2020;
  color: white;

}

.parking-slot.available{
  border: 2px solid #28a745;
  background-color: #abefbb;
}

.parking-slot.occupied{
  border: 2px solid #dc3545;
  background-color: #ffced2;
}

.available i{
  /* background-image: url("../assests/square-parking-regular-full.svg"); */
  color: #28a745; 
  /* fill: #28a745; */

}

.occupied i{
  /* background: url("../assests/square-parking-regular-full.svg"); */
  color: #dc3545; 

}

.legend {

  display: flex;

  justify-content: center;

  margin-top: 10px;

  gap: 20px;

  align-items: center;

}

.legend-box {

  width: 20px;

  height: 20px;

  display: inline-block;

  margin-right: 5px;


}

.legend .available {

  background: url("../assests/square-parking-regular-full.svg");
  background-color: #28a745;
}

.legend .occupied {
  background: url("../assests/square-parking-regular-full.svg");
  background-color: #dc3545;

}
 

.slot-info {
  position: absolute;
  bottom: 105%; /* Position the pop-up above the slot */
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #51bef5;
  color: white;
  border-radius: 10px;
  z-index: 10;
  white-space: nowrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.slot-info p{
    margin: 0;
    margin-bottom: 10px;
}
.slot-info .btn:hover{
    font-weight: bold;
    /* background-color: #171818; */
    transition: 0.5s;
}
.btn1{
    background-color: #007bff;
    color: white;
}

.parking-slots-container {
  display: flex;
  /* flex-wrap: wrap; */
  display: grid;
  grid-template-columns: repeat(10, 60px);
  gap: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  /* padding: 10px; */
}

.parking-slot {
  position: relative;
  width: 50px;
  height: 60px;
  /* border: 2px solid black; */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* background-color: #28a745;  */
}

h2{
    margin: 0;
    margin-top: 30px;
}

.btn2{
    background-color: white;
    color: black;
}