<div class="content">
  <header class="header">
    <div class="title">
      <h1><i class="fas fa-calendar-check"></i>Reservation System</h1>
      <p>Manage your parking reservations and bookings</p>
    </div>
    <button class="btn btn-primary" data-bs-target="#reservation" data-bs-toggle="modal">+ New Reservation</button>
    <div class="modal fade" id="reservation">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Create Reservation</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
          </div>
          <div class="modal-body">
            <app-slot-reservation-form></app-slot-reservation-form>
          </div>
        </div>
      </div>
    </div>
  </header>

<div class="reservation">
  <div class="down">
    <p>Reservations</p>
  </div>
  <div class="holder">
    <div class="input-icon">
      <i class="fas fa-search"></i>
      <input type="text" name="placeHold" placeholder="Search by slot Id or Vehicle Number...." [(ngModel)]="searchTerm">
    </div>
    <div class="status-container">
      <select id="state" [(ngModel)]="selectedStatus" >
        <option>All Status</option>
        <option>Upcoming</option>
        <option>Active</option>
        <option>Completed</option>
        <option>Cancelled</option>
      </select>
    </div>
    <table class="table" >
    <thead>
      <tr>
        <th>Slot Id</th>
        <th>Vehicle Number</th>
        <th>Vehicle Type</th>
        <th>Entry Date</th>
        <th>Entry Time</th>
        <th>Exit Date</th>
        <th>Exit Time</th>
        <th>Duration</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Actions</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor=" let customer of filteredCustomers()">
        <td>{{customer.slotId}}</td>
        <td>{{customer.vehicleNumber}}</td>
        <td>{{customer.vehicleType}}</td>
        <td>{{customer.entryDate|date}}</td>
        <td>{{customer.entryTime}}</td>
        <td>{{customer.exitDate|date}}</td>
        <td>{{customer.exitTime}}</td>
        <td>{{ customer.Duration }}</td>
        <td>{{ customer.Amount }}</td>
        <td>
          <span [ngClass]="getStatusClass(customer.status)" class="status-box d-inline-flex align-items-center gap-2">
            <i [ngClass]="getStatusIcon(customer.status)"></i>
            <span>{{customer.status}}</span>
          </span>
        </td>
        <td *ngIf="customer.status === 'Active' || customer.status === 'Upcoming'">
          <button class="btn btn-icon text-primary" data-bs-target="#edit" data-bs-toggle="modal" (click)="onEdit(customer)" >
            <i class="fas fa-edit"></i>
          </button>
        </td>
        <td *ngIf="customer.status === 'Active' || customer.status === 'Upcoming'">
          <button class="btn btn-icon text-danger" (click)="deletecustomer(customer.id)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="modal fade" id="edit">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Reservation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" ></button>
        </div>
        <div class="modal-body">
          <app-modify-reservation-form [customer]="selectedCustomer"></app-modify-reservation-form>
        </div>
      </div>
    </div>
  </div>