.content {
  flex: 1;
  padding: 24px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 1000px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.title h1 {
  margin: 4px 0 2px;
  font-size: 24px;
}
.btn.btn-primary {
  background-color: #74c0fc;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn.btn-primary:hover {
  background-color: green;
}
.input-icon {
  flex: 1;
  position: relative;
  width: 100%;
  max-width: 400px;
  min-width: 300px;
  margin-bottom: 20px;
  flex: 1 1 60%;
}
.input-icon i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #6c757d;
  font-size: 16px;
}
.input-icon input {
  width: 90%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f7f8fc;
}
.reservation { 
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 12px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.down p {
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
  color: #343a40;
  flex-shrink: 0;
}

.status-container select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ced4da;
  font-size: 1rem;
  width: 160px;
}
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
}
.table thead {
  background-color: #343a40;
  color: white;
}
.table th,
.table td {
  padding: 12px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6; 
  border-right: none;
}
.table th:first-child {
  border-top-left-radius: 12px;
}
.table th:last-child {
  border-top-right-radius: 12px;
}
.table tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}
.table tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}
.table tbody tr:hover {
  background-color: #f1f1f1;
}
.holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-bottom: 20px;
}
.status-container {
  flex-shrink: 0;
  min-width: 160px;
}
.status-box {
  padding: 4px 10px;
  border-radius: 8px;
  font-weight: 500;
  display: inline-block;
}
.status-upcoming {
  background-color: #e7f1ff;
  color: #0d6efd; 
}
.status-active {
  background-color: #e6f4ea;
  color: #198754; 
}
.status-completed {
  background-color: #f0f0f0;
  color: #6c757d; 
}
.status-cancelled {
  background-color: #f8d7da;
  color: #dc3545; 
}
