<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-..."
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="layout-container">
<div class="sidenav-container" [class.collapsed]="!isOpen">


  <button class="toggle-button" (click)="toggle()">
    <i class="fa-solid fa-bars fa-xl" style="color:#74c0fc; cursor: pointer;"></i>
  </button>

      <div class="inside_sidebar">
      <div class="inside_sidebar1">
        <i class="fa-solid fa-location-dot fa-2xl" style="color: #74c0fc;"></i>
      </div>
      <div *ngIf="isOpen" class="inside_sidebar2">
        <h3 >ParkEase</h3>
        <small >Customer Portal</small>
      </div>
    </div>

  <ul class="nav-list" >
    <li>
      <a routerLink="userdashboard">
        <i class="fa-regular fa-chart-bar" style="color: #74c0fc"></i>
        <span *ngIf="isOpen" style="cursor: pointer;">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="userparking">
        <i class="fa-solid fa-square-parking" style="color: #74c0fc"></i>
        <span *ngIf="isOpen" style="cursor: pointer;">Find Parking</span>
      </a>
    </li>
    <li>
      <a routerLink="userreservation">
        <i class="fa-solid fa-calendar-days" style="color: #74c0fc"></i>
        <span *ngIf="isOpen" style="cursor: pointer;">My Reservation</span>
      </a>
    </li>

    <li>
      <a routerLink="billing">
        <i class="fa-solid fa-book" style="color: #74c0fc"></i>
        <span *ngIf="isOpen" style="cursor: pointer;">Billing & Payment</span>
      </a>
    </li>
     <li>
  <a (click)="logout()" style="cursor: pointer;">
    <i class="fa-solid fa-arrow-right-from-bracket" style="color: #74c0fc"></i>
    <span *ngIf="isOpen">Log out</span>
  </a>
</li>
  </ul> 
</div>
<div class="main-content" [class.collapsed]="!isOpen">
    <router-outlet></router-outlet>
  </div>