.activity-card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  /* width: 100%; */
}

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0; /* A light grey line under the header */
  padding-bottom: 15px;
  margin-bottom: 15px;
  color: #333;
}

.header mat-icon { /* Adjust if not using mat-icon */
  margin-right: 10px;
  font-size: 24px;
  color: #2196f3; /* Blue color for the icon */
}

.header h3 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.activity-list {
  list-style: none; /* Remove default list bullets */
  padding: 0;
  margin: 0;
  width: 100%;
}

.activity-list li:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.activity-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #f0f0f0; /* Light grey line between items */
}

.activity-text {
  flex-grow: 1;
  font-size: 0.95em;
  color: #555;
}

.activity-time {
  font-size: 0.8em;
  color: #9e9e9e;
  white-space: nowrap; /* Prevents the time from wrapping */
}